.checkboxContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.checkboxLabel {
  display: inline-block;
  position: relative;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: border-color 0.3s, transform 0.3s ease;
}

.checkboxLabel:hover{
  transform: scale(1.1);
}

.checkboxInput {
  display: none;
}

.checkboxInput:checked + .checkboxContent {
  border-color: #007bff;
}

.checkboxContent {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  transition: border-color 0.3s;
}


