.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../../images/hero-bg-mb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 70px 10px;
}

.heroContent {
  text-align: center;
}

.heroTitle {
  color: #fff;
  margin-bottom: 20px;
}

.heroDescription {
  color: #fff;
  margin-bottom: 20px;
}

.heroBtn {
  background-color: #e44848;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}
