.header {
  max-width: 320px;
  margin: 0 auto;
  padding: 5px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  color: #e44848;
}

.logo > span {
  color: #101828;
}

.navList {
  display: none;
}

.menuBtn {
  border: none;
  background-color: inherit;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
    padding: 20px 10px;
  }

  .menuBtn {
    display: none;
  }

  .navList {
    display: flex;
    gap: 20px;
  }
}

@media screen and (min-width: 1280px){
  
}
