.footer {
  background-color: #475467;
  color: #fff;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 50px 10px;
}

.navList {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 50px 10px;
    display: flex;
    justify-content: space-between;
  }
}
